<IfModule mod_rewrite.c>
    # Enable Rewrite Engine
    RewriteEngine On

    # Set the base directory for rewriting
    RewriteBase /biz-master/public/

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Rewrite all requests to index.php if the file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
